.two {
    background-color: green;
    width: 400px;
}
.three {
    background-color: red;
}
.pilka {
    width: 100%;
    height: 5px;
    color: grey;
}
.pilka > .melyna {
    width: 100%;
    height: 5px;
    color: blue;
}