body {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
               " a . . "
               " . . b "
               " . c . ";
}
.a{ background-color: royalblue;
    grid-area: a;
    
}
.b{background-color: skyblue;
    grid-area: b;
    
}
.c{background-color: springgreen;
    grid-area: c;
}