body {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
               " 1 . . "
               " . . 2 "
               " . 3 . ";
}
.a{ background-color: royalblue;
    grid-area: 3;
}
.b{background-color: skyblue;
    grid-area: 2;
}
.c{background-color: springgreen;
    grid-area: 1;
}